html,
button,
input,
select,
textarea {
	-webkit-font-smoothing: antialiased !important;
}

html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	/*background-color:#bcd;*/
	font-size: 1em;
	line-height: 1.4;
	font-family:"Raisonne Demibold", 'Century Gothic', Verdana, sans-serif; font-size-adjust:0.5; font-weight:600; font-style:normal;

	padding:0;
	margin:0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	  /* fallback */
	  background-color: #1a82f7;
	  background-image: url(images/linear_bg_1.png);
	  background-repeat: repeat-y;

	  /* Safari 4-5, Chrome 1-9 */
	  background: -webkit-gradient(linear, left top, right top, from(#1a82f7), to(#2F2727));

	  /* Safari 5.1, Chrome 10+ */
	  background: -webkit-linear-gradient(left, #33ccff, #fff);

	  /* Firefox 3.6+ */
	  background: -moz-linear-gradient(left, #2F2727, #1a82f7);

	  /* IE 10 */
	  background: -ms-linear-gradient(left, #2F2727, #1a82f7);

	  /* Opera 11.10+ */
	  background: -o-linear-gradient(left, #2F2727, #1a82f7);
}

p {
	font-family:"Fortescue Regular", 'Times New Roman', Times, serif; font-weight:normal; font-style:normal;
}

a {
	position:relative;
	text-decoration:none;
	font-size:inherit;
	color:inherit;
}

a:hover{
	width: 100%;
	/*background-color: #000;*/
}

h1 {
	font-size: 3.6em;

	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}

h2 {
	font-size: 2em;
	color: #6ae;
}

h3 {
	font-size: 1em;
}

ul{
	text-decoration: none;
	list-style: none;
}

section {
	position: fixed;
	left: 100%;
	height: 33.33%;
	width: 20%;
	background-color: #444;
	overflow: hidden;
}

#contentWrapper{
	/*opacity: 0;*/
	height: 100%;
}

.invisibleButton{
	/*background-color: inherit;*/
	height: 100%
}

.invisibleButton:hover{
	/*background-color: inherit;*/
}





.navList{
	margin: 0px;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	width: inherit;
	padding: 0px;
	color: #fff;
}

.navList li{
	width: 100%;
	/*background-color: #fcc;*/
}

.navList li h3{
	margin: 0;
	display: block;
	padding: 1em 0em 1em 0em;
	width: 100%;
	text-align: center;
}

.navList li a{
	display: block;
	padding: 1em 0em 1em 0em;
	width: 100%;
	text-align: center;
	
}
.navList li a:hover{
	background-color: #fcf;
	width: 100%;
}
.navList li a:active{
	background-color: #f00;
	width: 100%;
}

.defaultstate #staticBackground:hover {
	background-color: #fff;
	transition-duration: 1s;
	transition-timing-function: ease-in;
}

.navstate #staticBackground:hover {
	background-color: #fff;
	transition-duration: 1s;
	transition-timing-function: ease-in;
}

.navstate #staticBackground {
	margin-left: 0!important;
}

.navstate h1{
	margin: 0;
	font-size: 2em;
}

.navstate p{
	display: none;
}


#splash{
	position: relative;
	float: left;
	width: 100% ;
	height: 100%;
	overflow: hidden;
}

#splash iframe{
	width: 100%;
	height: 100%;
}

#splash h3{
	display: inline-block;
	position: absolute;
	text-align: center;
	bottom: 0px;
	width: 100%;
}



/***************
Articles
***************/
article{
	float: left;
	position: relative;
	height: 100%;
	overflow: hidden;
	/*background-color: #00d;*/
	box-shadow: -2px 0px 30px #000;
}

article h1{
	/*background-color: #444;*/
	position: relative;
}

article:active{
	cursor: -webkit-grabbing;
}

article img{
	width: 50%;
	height: auto;
}

article iframe{
	width: inherit;
	height: 100%;
	position: absolute;
}


#staticBackground{
	position: absolute;
	width: 100%;
	height: 100%;
	transition: margin 1s;
	-moz-transition: margin 1s;
	-webkit-transition: margin 1s;
	-o-transition: margin 1s;
}

#staticBackground h1{
	transition: margin 1s, font-size 1s;
	-moz-transition: margin 1s, font-size 1s;
	-webkit-transition: margin 1s, font-size 1s;
	-o-transition: margin 1s, font-size 1s;
}

.defaultstate #staticBackground{
	margin-left: 0!important;
	display: table;
}

.defaultstate h1 {
	display: table-cell;
	vertical-align: middle;
}

.defaultstate p {
	display: none;
}


h1 span{
	display: inline-block;
}

/* adding to it as they shrink */
.huge{
	font-size: 100%;
}

.page{
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	height: 100%;
}

.page p{
	position: relative;
	padding: 0 .5em 0 .5em;
}

.page h1{
	/*background-color: #000;*/
	position: relative;
}

.navstate .slider{
	padding-top: 10%;
	transition-duration: 1s;
}

.slider{
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: -1;
	padding: 0;
	transition-duration: 1s;
}

#backgroundAREA{
	position: fixed;
	opacity: 0;

	transition: opacity 1s, top 1s, left 1s;
	-moz-transition: opacity 1s, top 1s, left 1s;
	-webkit-transition: opacity 1s, top 1s, left 1s;
	-o-transition: opacity 1s, top 1s, left 1s;
}

/*************

/     \        |
| =|= | /=\ /= =/
 \/ \/  \=/ |  |\

*************/

#work{
	/*background-image: url("/static/img/background1.jpg");*/
	background-color: #ff66cc;
	overflow: hidden;
}

#work:hover{
	/*background-color: #e77;*/
}

#work article{
	/*background-color: #98a;*/
	background-color: #ff66cc;
}

#widthOfWork{
	height: 100%;
}
#contact{
	height: 100%;
}


#workButton{
	float: left;
	position: relative;
	width: 300px;
	height: 10px;
}

.backgroundImage{
	position: absolute;
	top:0;
	left: 0;
	z-index: 0;
	width: inherit!important;
	height: auto!important;
}


#work .page img{
	width: auto;
	min-width: inherit;
	height: auto;
	min-height: 100%;
}

#work .background {
	width: 100%;
	height: 100%;
	background-position:center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0;
}

.background {
	width: 100%;
	height: 70%;
	background-position:center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0;
}

.fullAbsolute{
	position: absolute;
	width: inherit;
}

/*******************
About
*******************/

/*
BLUE: #33ccff
YELLOW: #e6dc5a
*/

#about{
	top: 33.33%;
	background-color: #33ccff;
	overflow: hidden;
}
#about:hover{
	/*background-color: #e77;*/
}
#about article{
	/*background-color: #98a;*/

	background-color: #33ccff;
}

#about .fullAbsolute {
	position: relative;
}

#map-canvas {
	height: 100%;
	width: 100%;
}


.positionBottom {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
}

#history p{
	width: 80%;
	/*background-color: #fff;*/
	margin: 2em auto 0 auto;
	padding: 2em 1em 2em 1em;
	columns:2em 2;
	-webkit-columns:2em 2; /* Safari and Chrome */
	-moz-columns:2em 2; /* Firefox */
}

#mandate p{
	width: 80%;
	/*background-color: #fff;*/
	margin: 2em auto 0 auto;
	padding: 2em 1em 2em 1em;
	columns:2em 2;
	-webkit-columns:2em 2; /* Safari and Chrome */
	-moz-columns:2em 2; /* Firefox */
}

#people .page .imageContainer{
	height: 50%;
	overflow: hidden;
}

#people .page .profileImage{
	width: 100%;
	height: auto;
}

#people .page h1{
	margin:	0;
	background-color: none;
	text-align: center;
}

#people .page p{
	width: 50%;
	margin: 1em auto 0 auto;
	/*background-color: #fff;*/
}





/*******************
process
*******************/

#process{
	top: 66.6666%;
	background-color: #ffcc66;
}

#process:hover{
	/*background-color: #e77;*/
}

#process article{
	/*background-color: #98a;*/
}

.instaPic{
	height: 100%;
}

.instaPic div{
	float: left;
	width: inherit;
	height: 50%;
}

.instaPic div img{
	position: absolute;
	width: inherit;
	height: auto;
}

.instaPic div div{
	position: relative;
	opacity: 0;
	width: 100%;
	height: 100%;
}

.instaPic div div:hover{
	background-color: #f0f;
	color:#fff;
	opacity: 0.6;
}

.instaPic h1{
	width: inherit;
	position: absolute;
	clear: both;
}

.hiden{
	display: none;
}

#globalNave{
	position: fixed;
	left: -50;
	bottom: -50px;
	width: 100px;
	height: 100px;
	transform: rotate(7deg);
	-ms-transform: rotate(7deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
	background-color: none;
	overflow: hidden;
	border-top: 4px solid #fff;
}

/*#globalNave:hover{
	background-color: #f00;
}*/

#globalNave a{
	/*padding: 0.5em;*/
	width:100px;
	height:100px;
	display: block;
	margin: 0 auto 0 auto;
	padding-top: 5px;
	text-align: center;
	text-transform: uppercase;
	background-color: none;
}

#globalNave a:hover{
	color: #fff;
	background-color: #fee;
}

