/***************
Main body styles
***************/

html,body{
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#logo{
	background-color: #fcc;
	height: 100%;
	width: 80%;
	position: absolute;
	top: 0px;
	left: 0px;
}
#content{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 80%;

	transition: left 1s;
	-moz-transition: left 1s;
	-webkit-transition: left 1s;
	-o-transition: left 1s;
}

/***************
global styles go in here!!!
***************/

#frontSpacer{
	white-space: normal;
	display: inline-block;
	width: 100%;
	height: 100%;
}

#background{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #f3d;

}

.category{
	height: 25%;
	overflow: hidden !important;

	transition: height 1s;
	-moz-transition: height 1s;
	-webkit-transition: height 1s;
	-o-transition: height 1s;
}

.clear{
	clear: both;
}

/***************
Work styles
***************/

#work{
	background-color: #fff;
}
.project{
	float: left;
	width: 1000px;
	height: 100%;
	background-color: #eea;
}

#subContent{
}

/***************
About styles
***************/
#about{
	height: 100%;
	background-color:#eee;
}

.section{
	float: left;
	width: 500px;
	height: 100%;
	background-color: #aa5;
}

/***************
Process styles
***************/
#process{
	background-color:#ddd;
}

/***************
Word styles
***************/
#word{
	background-color:#ccc;
}