<!DOCTYPE html lang="en">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>ALSO Collective</title>


<!-- Make sure to replace all the keywords ands such!!! -->
		<!--Description, Keywords-->
		<meta name="description" content="OCAD University’s Faculty of Design is announcing a call for proposals for Urban Ecologies 2013, a conference that will examine the impact of five intersecting themes that are shaping the future of design in our cities.">

		<meta name="keywords" content="Urban Ecologies, 2013, OCAD University, design, Ontario College of Art and Design, conference, TDBank, Toronto Dominion, research, architecture, healthcare, visualization, urban planning, community">

		<!--For Mobile Devices-->
		<!--
		<meta name="viewport" content="width=1024, user-scalable=no">
		-->


		<!--Stylesheets-->
		<link rel="stylesheet" href="/static/css/normalize.min.css">
		<link rel="stylesheet" href="/static/css/main.css">

<!-- We need to get the logo in here! -->
		<link rel="icon" type="image/png" href="/img/logo.png">
	</head>
<body>

<!--[if lt IE 7]>
	<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<div id="splash">
	<!-- <iframe src="static/splash/RLine/index.html"></iframe> -->
	<h2>The spalsh area</h2>

	<h3>Something@also.com | 123 456 7890 | 123 Speedina Ave Toronto Canada</h3>
</div>
<div id="contentWrapper"><section id="work"><div id="staticBackground">
			<h1>WORK</h1>
		</div><div id="sWork"><div id="backgroundAREA" class="hiden">
					<ul class="navList">
						<li><a href="#SDA" name="SDA">Sustainable Design Awards</a></li>
						<li><a href="#urban" name="urban" >Urban Ecologies</a></li>
						<li><a href="#workProject3" name="workProject3" >locaiton three</a></li>
						<li><a href="#workProject4" name="workProject4" >locaiton four</a></li>
					</ul>
				</div><div id="widthOfWork"><a href="#work" id="workButton" class="invisibleButton">
				</a><article id="SDA" class="project"><div class="page">
						<img class="backgroundImage" src="/static/img/Projects/SDA/SDA.gif">
						<h1>SDA</h1>
						<p>
							The 2013 Sustainable Design Awards (SDA) is an annual, student-lead initiative aiming to inspire post-secondary students to approach their projects through the lens of sustainability (ecological, social, cultural, and economic). Each year, students are invited to develop and submit design projects. Submissions are critiqued by an expert panel of judges, and voted on by peers. There is a cash prize for the winning entry.
							The concept started with the idea of nature as a closed loop. From there we played with the idea of an infinity symbol that was repeated twice, forming three closed loops—one for each word that define the event’s name. The final mark also makes reference to an ampersand. The identity is flexible and dynamic. We have defined a variety of options for  use with different types of media. We have designed it so that it can change and move on screen. This multitude of variations and perspectives is a direct reflection of the competition.
						</p>
					</div><div class="page">
						<img src="/static/img/Projects/SDA/SDA1.jpg">
					</div><div class="page">
						<img src="/static/img/Projects/SDA/SDA2.jpg">
					</div><div class="page">
						<img src="/static/img/Projects/SDA/SDA3.jpg">
				</div></article><article id="urban" class="project"><div class="page">
					<img class="backgroundImage" src="/static/img/Projects/Urban Ecologies/Urban Splash.jpg">
					<h1>Urban Ecologies</h1>
					<p>
						Urban environments are complex systems where a multitude of seemingly unrelated components interact. The domain of ecology, which investigates the complex interactions of natural systems, offers a new frame with which to view urban environments through. Not as disparate parts, but as interrelated parts of a whole.Urban Ecologies 2013 as a conference poses questions surrounding this new perspective, bringing together various disciplines to address the following five themes: Regenerating Cities, Visualizing Information, Thinking Systems, Creating Community, and Building Health. The Urban Ecologies 2013 logo attempts to capture this within a seemingly simple mark.
						Inspired by the visualization studies of Jacques Bertin, the patterns and textures found within architecture and urban planning, and the concept of a Venn diagram. The intent of this identity is to respect the complexity of urban ecology while illustrating the multitude of overlapping domains.
						The identity brings together five differing patterns that overlap with one and other to form a more complex—yet unified—pattern at the heart of the mark. While the shapes overlap, the patterns of each shape can be seen emerging out of the larger form, while still remaining tightly interwoven within the other patterns.
						The colour palette of the mark was carefully selected based upon intuitive considerations of the themes. In addition the colours were chosen for their ability to perform separately and collectively within the system.
						This mark embodies varying levels of detail and form, offering a rich visual metaphor for the conference as a whole.
						</p>
					</div><div class="page">
						<img src="/static/img/Projects/Urban Ecologies/Urban 1.jpg">
					</div><div class="page">
						<img src="/static/img/Projects/Urban Ecologies/Urban 2.jpg">
					</div><div class="page">
						<img src="/static/img/Projects/Urban Ecologies/Urban 3.jpg">
				</div></article><article id="workProject3" class="project">
					<p>
					some stuff
					</p>
					<img src="/static/img/two.jpg">
				</article><article id="workProject4" class="project">
					<p>
					some stuff
					</p>
					<img src="/static/img/three.jpg">
				</article>
			</div>
		</div>
	</section><section id="about"><div id="staticBackground">
			<h1>ABOUT</h1>
		</div><div id="sAbout"><div id="backgroundAREA" class="hiden">
				<ul class="navList">
					<li><a href="#aboutContact" name="aboutContact">Contact</a></li>
					<li><a href="#aboutMandate" name="aboutMandate">Mandate</a></li>
					<li><a href="#aboutHistory" name="aboutHistory">History</a></li>
					<li><a href="#aboutPeople" name="aboutPeople">People</a></li>
				</ul>
			</div><div id="widthOfWork"><a href="#about" class="invisibleButton" id="workButton"></a><article id="aboutContact" class="project">

				<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/?ie=UTF8&amp;ll=43.641044,-79.421282&amp;spn=0.049877,0.110378&amp;t=m&amp;z=14&amp;output=embed"></iframe>
				<h1>ContactInfo</h1>

				<p class="positionBottom"> Something@also.com | 123 456 7890 | 123 Speedina Ave Toronto Canada</p>

			</article><article id="aboutMandate" class="project">
				<h1>Mandate</h1>
			</article><article id="aboutHistory" class="project">
				<h1>History</h1>
			</article><article id="aboutPeople" class="project">
				<h1>People</h1>
			</article></div>
		</div>
	</section><section id="process"><div id="staticBackground">
			<h1>Process</h1>
		</div><div id="sProcess"><div id="backgroundAREA" class="hiden">
				<ul>
					<li></li>
					<li></li>
				</ul>
			</div><div id="widthOfWork"><a href="#process" id="workButton">
				</a><article class="project">
					<h1>this one has one long box</h1>
			</article></div>
		</div>
	</section><section id="word"><div id="staticBackground">
			<h1>Word</h1>
		</div><div id="sWord"><div id="backgroundAREA" class="hiden">
				<ul>
					<li><a href="#" name="#">Location</a></li>
					<li><a href="#" name="#">Location</a></li>
					<li><a href="#" name="#">Location</a></li>
				</ul>
			</div><div id="widthOfWork"><a href="#word" id="workButton"></a><article class="project">

			</div>
		</div>
	</section></div>

<script src="/static/js/jquery-2.0.0.min.js"></script>
<script src="/static/js/jquery.backstretch.min.js"></script>
<script src="/static/js/dragdivscroll.js"></script>
<!--
<script src="/static/js/ext-core.js"></script>
<script src="/static/js/Override.js"></script>
-->
<script src="/static/js/main.js"></script>

</body>
</html>